<main id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" aria-label="Slide 1" class="active" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="home-img" src="/assets/register.png" alt="register">
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Cadastrar Cliente</h1>
            <p>Cadastre um novo cliente.</p>
            <p><a class="btn btn-lg btn-primary" href="/registercustomer">Ver Mais »</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="home-img" src="/assets/customer.png" alt="customer">
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Clientes Cadastrados</h1>
            <p>Conheça nossos clientes.</p>
            <p><a class="btn btn-lg btn-primary" href="/registeredcustomers">Ver Mais »</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="home-img" src="/assets/cars.png" alt="car">
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Veículos Cadastrados</h1>
            <p>Veículos cadastrados no nosso sistema.</p>
            <p><a class="btn btn-lg btn-primary" href="/registeredvehicles">Ver Mais »</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="home-img" src="/assets/service.png" alt="service">
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Serviços Realizados</h1>
            <p>Serviços realizados na nossa oficina.</p>
            <p><a class="btn btn-lg btn-primary" href="/servicesperformed">Ver Mais »</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </main>